cert/*
.tern-project
.env
.editorconfig
.jshintrc
.eslintrc
builtAssets
test.js
launch.json
settings.json
.vscode
node_modules
upload/*
npm-debug.log
redq
RnD.js
# exception to the rule
!upload/.gitkeep
