<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat IO</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel='stylesheet prefetch' href='public/components/components-font-awesome/css/font-awesome.min.css'>
    <!-- <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'> -->
  </head>
  <body>

    <div class="container not-found-error clearfix" style="text-align: center;">
    	<i class="fa fa-5x fa-exclamation-triangle"></i>
    	<p> The page you're looking has refused to serve you! </p>
    	<p> We are finding a better place for you. We will go even on the Moon<i class="fa fa-3x fa-moon-o"></i>, to make it work for you<i class="fa fa-2x fa-exclamation"></i></p>
    </div> <!-- end container -->
    <script src="components/jquery/dist/jquery.min.js"></script>
  </body>
</html>
