<!doctype html>
<html>

<head>
    <title>Chat Client</title>

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar_collapse.css">
     <% if (ENV_DEVELOPMENT) { %>
        <link rel="stylesheet" href="/css/adminStyle.css">
     <% } %>
     <% if (ENV_PRODUCTION) { %>
        <link rel="stylesheet" href="dist/css/adminStyle.min.css">
     <% } %>
    <link rel="stylesheet" href="components/flipclock/compiled/flipclock.css">
    <% if (ENV_DEVELOPMENT) { %>
        <link rel="stylesheet" href="/css/admin_fullStyle.css">
    <% } %>
    <% if (ENV_PRODUCTION) { %>
        <link rel="stylesheet" href="dist/css/admin_fullStyle.min.css">
    <% } %>
</head>

<body>
    <ul class="pages">
        <li class="chat page" style="display: initial">
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-left" style="overflow-y: hidden">
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                        <div class="user-header">
                            <img class="user-image" src="./img/user.svg" />
                            <div class="dropdown user-header-name">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%- user.firstName %> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-chat paletton-blue" id="sidebar-chat-1" onclick="showChat('1');">
                            <div class="sidebar-chat-name">Example Chat</div>
                            <div class="sidebar-chat-company"><small>Some Company</small></div>
                            <span class="sidebar-chat-notification">2</span>
                        </div>
                        
                        <div class="col-xs-12 form-group" style="position: absolute; bottom: -5px;">
                            <div class="counter" style="margin-left:25%"></div>
                            <button type="button" class="btn btn-danger form-control accept-client" id="accept-new-client-button">Accept One</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 chat-area">
                        <div class="chat-container" id="chat-1">
                            <div class="main-chat-header paletton-blue">
                                <button type="button" class="close" aria-hidden="true" onclick="removeChat('1')">x</button>
                                <div>Example Chat</div>
                                <div><small>Some Company</small></div>
                            </div>
                            <div class="chat-messages">
                                <div class="time-message">
                                    <div class="mid-horizontal-line"></div>
                                    <div class="time-text">
                                        <div>Chat Start</div>
                                        <div>12:31 PM</div>
                                    </div>
                                </div>
                                <div class="message message-sender">
                                    <div class="message-text">
                                        Hi Chat 1. How can I help you today?
                                    </div>
                                </div>
                                <div class="message message-receiver">
                                    <div class="message-text">
                                        I need some help retreiving my password.
                                    </div>
                                </div>
                            </div>
                            <div class="chat-input">
                                <div class="row">
                                    <div class="col-xs-9 form-group">
                                        <input type="text" class="form-control" placeholder="Type Message" />
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <button type="button" class="btn btn-success form-control">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="error page" style="display: none">
            <div class="form">
                <h3 class="title">Reconnecting...</h3>
            </div>
        </li>
    </ul>
    <audio id="windowSound">
        <source src="/sounds/new_chat_window.mp3" type="audio/mpeg">
    </audio>
    <audio id="newConnectionSound">
        <source src="/sounds/new_chat_connection.mp3" type="audio/mpeg">
    </audio>
    <audio id="chatSound">
        <source src="/sounds/new_message.mp3" type="audio/mpeg">
    </audio>
    <audio id="pokeSound">
        <source src="/sounds/poke.mp3" type="audio/mpeg">
    </audio>

    <iframe id="download_frame" style="display: none"></iframe>

    <script>
        var _admin =<%-JSON.stringify(user)%>
    </script>

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="socket.io-client/dist/socket.io.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/flipclock/compiled/flipclock.min.js"></script>
    <% if (ENV_DEVELOPMENT) { %>
        <script src="js/admin_full.js"></script>
    <% } %>
    <% if (ENV_PRODUCTION) { %>
        <script src="dist/js/admin_full.min.js"></script>
    <% } %>
</body>

</html>
