<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat_Client</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body style="background-image: url('/img/6.jpg')">

    <div class="login-page" >
      <div class="form">
        <div class="social-buttons">
          <div><span>Login</span></div>
          <img src="<%= iya %>" title="avatar" alt="">
          <hr>

        </div>

        <div style="margin-top: 18px;">
            <form action="/register" class="register-form" method="post" >
              <input type="text" name="username" placeholder="username"required/>
              <input type="text" name="fname" placeholder="first name" required/>
              <input type="text" name="lname" placeholder="last name" required/>
              <input type="email" name="email" placeholder="email"required/>
              <input type="text" name="role" placeholder="role"required/>
              <input type="text" name="company" placeholder="role"required/>
              <input type="password" name="password" placeholder="password"required/>
              <input type="password" name="confirm-password" placeholder="confirm password"required/>
              <button type="submit">create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
              <% if (errors != null && showRegisterForm != null && showRegisterForm === true) { %>
                <% errors.forEach(function(err){ %>
                  <p class="message error"><%= err %></p>
                <% }); %>
              <% } %>
            </form>
            <form action="/login" class="login-form" method="post">
              <input type="text" name="username" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button type="submit">login</button>
              <p class="message">Not registered? <a href="#">Create an account</a></p>
              <% if (errors != null && showRegisterForm == null) { %>
                <% errors.forEach(function(err){ %>
                  <p class="message error"><%= err %></p>
                <% }); %>
              <% } if (success != null && showRegisterForm == null) { %>
                <p class="message success"><%= success %></p>
              <% } %>
            </form>
        </div>
    </div> <!-- end form -->
    </div> <!-- end login container -->



    <script src="components/jquery/dist/jquery.min.js"></script>
    <% if(showRegisterForm != null && showRegisterForm === true) { %>
        <script>
          $('.register-form').show(); $('.login-form, .social-buttons, .form-line').hide();
        </script>
    <% } %>
    <script>
        $('.message a').click(function(){
            $('form, .social-buttons, .form-line').animate({height: "toggle", opacity: "toggle"}, "slow");
          });
    </script>
  </body>
</html>
